<table mat-table [dataSource]="this.rows" class="mat-elevation-z8 basic-margin">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <ng-container *ngFor="let header of headers[0]" [matColumnDef]="header">
    <th mat-header-cell *matHeaderCellDef> {{header}} </th>
    <td mat-cell *matCellDef="let element">
      {{this.getValue(element, header)}}
    </td>
  </ng-container>

  <ng-container *ngFor="let secondHeader of headers[1]" [matColumnDef]="secondHeader.code">
    <th mat-header-cell *matHeaderCellDef [attr.colSpan]="secondHeader.colSpan"> {{secondHeader.code}} </th>
  </ng-container>

  <ng-container *ngFor="let thirdHeader of headers[2]" [matColumnDef]="thirdHeader.code">
    <th mat-header-cell *matHeaderCellDef [attr.colSpan]="thirdHeader.colSpan"> {{thirdHeader.code}} </th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.thirdHeadersList"></tr>
  <tr mat-header-row *matHeaderRowDef="this.secondHeadersList"></tr>
  <tr mat-header-row *matHeaderRowDef="headers[0]"></tr>

  <tr mat-row *matRowDef="let row; columns: headers[0];"></tr>
</table>