.mat-table{
  width: auto;
}

table *{
  user-select: none;
  cursor: pointer;
}

tr:nth-child(odd) td:hover, th:hover{
  background-color: orange;
  color: white;
}

tr:nth-child(even) td:hover{
  background-color: orangered;
  color: white;
}